* {
  box-sizing: border-box;
}
main {
  flex: 1;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #cb002d;
}
form {
  color: #000;
}

.foto-perfil {
  height: 200px;
  width: 200px;
  max-width: 100%;
  object-fit: cover;
}

.foto-portfolio {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.navbar .nav-link {
  color: #ffffff; /* branco */
  transition: color 0.3s ease; /* transição suave */
}

/* Ao passar o mouse */
.navbar .nav-link:hover {
  color: #cb002d;
}

footer .btn {
  color: #ffffff;
  border-color: #ffffff;
  transition: color 0.3s ease, border-color 0.3s ease,
    background-color 0.3s ease;
}

/* Ao passar o mouse nos botões */
footer .btn:hover {
  border-color: #cb002d;
  background-color: #ffffff10; /* leve fundo translúcido para destacar */
}

/* Ícones dentro dos botões herdam a cor */
footer .btn i {
  transition: color 0.3s ease;
}

footer .btn:hover i {
  color: #cb002d;
}
